body {
  margin: 0;
  padding: 0;
  background-color: rgb(8, 8, 8);
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.map {
  height: 264px;
  width: 330px;
}
.controls-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.zoom-control {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  border: 1px solid;
  width: 150px;
  height: 130px;
  cursor: pointer;
}
progress {
  border: 1px solid #fff;
  border-radius: 6px;
  text-align: start;
}
progress::-webkit-progress-bar {
  background-color: black;
  border-radius: 6px;
}
progress::-webkit-progress-value {
  background-color: rgb(5, 176, 255);
  border-radius: 6px;
}
.progress h1 {
  text-align: center;
}

.hide {
  display: none;
}
